<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-fNHMjTP4RNxw3f9vnlnY-bmDovETgNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>720114560386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.presensiHetian</string>
	<key>PROJECT_ID</key>
	<string>presensi-8ef37</string>
	<key>STORAGE_BUCKET</key>
	<string>presensi-8ef37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720114560386:ios:0ebbee8af37de90fb3f39b</string>
</dict>
</plist>